.button {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 3rem;
	width: 10.5rem;
	border: none;
	border-radius: var(--border-rounding);
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	text-transform: uppercase;
	transition-property: transform, background-color;
	transition-duration: 150ms;
	transition-timing-function: ease-out;
	user-select: none;
	background-color: var(--primary);
	color: var(--text-emphasis);
	box-shadow: var(--shadow);
}

.button:hover {
	background-color: var(--primary-darker);
}

.button:active {
	transform: scale(0.9);
}

@media only screen and (max-width: 400px) {
	.button {
		width: 100%;
	}
}
